@import "tailwindcss";

@theme {
  --font-sofia: "SofiaPro";
  --font-suisseintl: "SuisseinTl"
}

@font-face {
  font-family: SofiaPro;
  src: url("/fonts/SofiaProRegular.woff2");
}
@font-face {
  font-family: SuisseinTl;
  src: url("/fonts/suisseintl.woff2");
}
